<div class="grid grid-cols-3 gap-3 mt-5">
    <div *ngFor="let data of dataSource">
        <mat-card class="max-w-xl mb-5 cursor-pointer" appearance="outlined" (click)="navigate(data.id)">
            <mat-card-header>
            <mat-card-title-group>
                <mat-card-title class="text-left">{{data.title}}</mat-card-title>
                <mat-card-subtitle>
                    <mat-chip-set>
                        <mat-chip>{{data.category}}</mat-chip>
                      </mat-chip-set>
                </mat-card-subtitle>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > 
                <!--TODO: replace with thumbnail-->
            </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="text-left">
            {{data.description | truncate: 160 }}
            </mat-card-content>
        </mat-card>
    </div>
</div>
<mat-paginator #paginator
            [length]="total"
            [pageSize]="15"
            [pageSizeOptions]="[15, 30, 60, 100]"
            (page)="handlePageChange($event)">
</mat-paginator>